<section>
    <ul class="nav nav-pills">
        <li ng-class="{active:panel.isSelected(1)}"><a href ng-click="panel.selectTab(1)">Description</a></li>
        <li ng-class="{active:panel.isSelected(2)}"><a href ng-click="panel.selectTab(2)">Reviews</a></li>
        <li ng-class="{active:panel.isSelected(3)}"><a href ng-click="panel.selectTab(3)">About</a></li>
    </ul>

    <div ng-show="panel.isSelected(1)">
        <h4>Description</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, temporibus.</p>
    </div>
    <div ng-show="panel.isSelected(2)">
        <h4>Reviews</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque praesentium reprehenderit harum, sit dolores culpa deserunt fugit distinctio, neque facere.</p>
        <div my-form></div>
    </div>
    <div ng-show="panel.isSelected(3)">
        <h4>About</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste minima ut odit porro possimus.</p>
    </div>

</section>